{% extends "base.html" %}

{% block title %}All Users{% endblock %}

{% block content %}
    <h1>Ola, selecione a disciplina</h1>


<form class="form-inline" method="POST" action="{{ url_for('turma') }}">
  <div class="form-group">
    <div class="input-group">
            <select name="comp_select" class="selectpicker form-control" onchange='if(this.value != 0) { this.form.submit(); }'>
              <option value="disciplina"> disciplina </option>
              {% for discip in disciplina %}
              <option value="{{ discip[1] }}"> {{ discip[1] }} </option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form>


{% endblock %}
