{% extends "base.html" %}

{% block title %}Todos os professores{% endblock %}

{% block content %}
{% set filter_professor = request.form.get('professor') %}
{% set filter_disciplina = request.form.get('disciplina') %}
{% set filter_turma = request.form.get('turma') %}
<p></p>
<div align="center" class="form-inline">
	<select class="selectpicker form-control" onchange="change(this);">
		<option value="-">Você é professor ou aluno?</option>
		<option value="1">Professor</option>
		<option value="2">Aluno</option>
	</select>
</div>
<p></p>
<div align="center" id="panel-form" style={{'display:none' if filter_professor == None or filter_disciplina == None or filter_turma == None }}>
	<form id="form" class="form-inline" method="POST" action="/">

		<div class="form-group">
			<div class="input-group">
				<input value="{{filter_professor if filter_professor != None}}" id="professor_autocomplete" name="professor" placeholder="Seu Nome" class="input form-control" onchange='this.form.submit();'></input>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<select {{'selected=selected' if filter_disciplina == None}} name="disciplina" class="selectpicker form-control" onchange='if(this.value != 0) { this.form.submit(); }'>
					<option value="None"> Disciplina </option>
					{% for disciplina in disciplinas %}
					<option {{'selected=selected' if filter_disciplina == disciplina[1]}} value="{{ disciplina[1] }}"> {{ disciplina[1] }} </option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<select name="turma" class="selectpicker form-control" onchange='if(this.value != 0) { this.form.submit(); }'>
					<option {{'selected=selected' if filter_turma == None}} value="None"> Turma </option>
					{% for turma in turmas %}
					<option {{'selected=selected' if filter_turma == turma[1]}} value="{{ turma[1] }}"> {{ turma[1] }} </option>
					{% endfor %}
				</select>
			</div>
		</div>
	</form>
	</div>

	<div align="center" id="iframe" style="display:'block';">
		<iframe id="myIframe" style="border:0;" width="780" height="535" frameborder="0" scrolling="yes"></iframe>
	</div>
		<script type="text/javascript">

			function change(select){
				var divSelect = select.value;
				if(divSelect==1){
					document.getElementById("iframe").style.display = 'none';
					var element = document.getElementById("panel-form");
					element.style.display = 'block';
				}

				if(divSelect==2){
					document.getElementById("panel-form").style.display = 'none';
					document.getElementById("iframe").style.display = 'block';
					document.getElementById('myIframe').src = "http://fs24.formsite.com/UNIFACS/form1/fill?6=2"; 
				}
			}

			var url = "{{url|safe if url != ''}}";
			render(url);

			function render(data){
				if (data != '') {
					document.getElementById("iframe").style.display = 'block';
					document.getElementById('myIframe').src = data;
				}
			}

			$( function() {
				var availableTags = {{autocomplete|tojson|safe}};

				$( "#professor_autocomplete" ).autocomplete({
					source: availableTags,
					select: function(event, ui) {
						$("#professor_autocomplete").val(ui.item.label);
						$("#form").submit(); }
					});
			});

		</script>
		{% endblock %}
