{% extends "base.html" %}

{% block title %}Todos os professores{% endblock %}

{% block content %}
    <h1> Ola, selecione o professor</h1>


<form class="form-inline" method="POST" action="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="comp_select" class="selectpicker form-control" onchange='if(this.value != 0) { this.form.submit(); }'>
              <option value="None"> Professor </option>
              {% for prof in professor %}
              <option value="{{ prof[1] }}"> {{ prof[1] }} </option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form>

{% endblock %}
